name: test
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push: { branches: [main] }
  pull_request: { types: [opened, reopened, synchronize, ready_for_review] }

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        base-image:
          - ubuntu:focal
          - ubuntu:jammy
          - ubuntu:noble
          - debian:bookworm
          - fedora:39
          - redhat/ubi9:latest
        test-args:
          - '{}'
          - '{"toolchain":"latest"}'
          - '{"toolchain":"5.10"}'
          - '{"toolchain":"6.0"}'
    runs-on: ubuntu-latest
    container: ${{ matrix.base-image }}
    steps:
      - name: Checkout action
        uses: actions/checkout@v4
        with:
          path: ./swiftly-action
      - name: Test
        uses: ./swiftly-action
        with: ${{ fromJSON(matrix.test-args) }}
  test-amznlinux2:
    strategy:
      fail-fast: false
      matrix:
        base-image:
          - amazonlinux:2
        test-args:
          - '{}'
          - '{"toolchain":"latest"}'
          - '{"toolchain":"5.10"}'
          - '{"toolchain":"6.0"}'
    runs-on: ubuntu-latest
    container: ${{ matrix.base-image }}
    steps:
      - name: Add missing dependencies
        run: yum install -y git tar
      # FIXME: This doesn't work in the container, since amazonlinux:2 ships with a version of glibc that's too old for GitHub's Node20.
      # - name: Checkout action
      #   uses: actions/checkout@v4
      #   with:
      #     path: ./swiftly-action
      - name: Test
        # uses: ./swiftly-action
        uses: vapor/swiftly-action@main
        with: ${{ fromJSON(matrix.test-args) }}
  test-barerunner:
    strategy:
      fail-fast: false
      matrix:
        runner-os:
          - ubuntu-latest
          - macos-latest
        test-args:
          - '{}'
          - '{"toolchain":"latest"}'
          - '{"toolchain":"5.10"}'
          - '{"toolchain":"6.0"}'
    runs-on: ${{ matrix.runner-os }}
    steps:
      - name: Checkout action
        uses: actions/checkout@v4
        with:
          path: ./swiftly-action
      - name: Test
        uses: ./swiftly-action
        with: ${{ fromJSON(matrix.test-args) }}
