name: test
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push: { branches: [ main ] }
  pull_request: { types: [opened, reopened, synchronize, ready_for_review] }
permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        base-image:
          - ubuntu:jammy
          - ubuntu:noble
          - debian:bookworm
          - debian:trixie
          - fedora:latest
          - redhat/ubi9:latest
        test-args:
          - '{}'
          - '{"toolchain":"latest"}'
          - '{"toolchain":"6.0"}'
          - '{"toolchain":"6.1"}'
    runs-on: ubuntu-latest
    container: ${{ matrix.base-image }}
    steps:
      - name: Test
        uses: vapor/swiftly-action@main
        with: ${{ fromJSON(matrix.test-args) }}
  test-amznlinux2:
    strategy:
      fail-fast: false
      matrix:
        base-image:
          - amazonlinux:2
        test-args:
          - '{}'
          - '{"toolchain":"latest"}'
          - '{"toolchain":"6.0"}'
          - '{"toolchain":"6.1"}'
    runs-on: ubuntu-latest
    container: ${{ matrix.base-image }}
    steps:
      - name: Add missing dependencies
        run: yum install -y git tar
      - name: Test
        uses: vapor/swiftly-action@main
        with: ${{ fromJSON(matrix.test-args) }}
  test-barerunner:
    strategy:
      fail-fast: false
      matrix:
        test-args:
          - '{}'
          - '{"toolchain":"latest"}'
          - '{"toolchain":"6.0"}'
          - '{"toolchain":"6.1"}'
    runs-on: ubuntu-latest
    steps:
      - name: Test
        uses: vapor/swiftly-action@main
        with: ${{ fromJSON(matrix.test-args) }}
